.order-book-viewport {
    height: 500px;
    width: 200px;
}

.order-book-item {
    height: 15px;
}

.order-book-item {
    height: 15px;
}

.order-book-sell-item {
    color: green;
}

.order-book-buy-item {
    color: red;
}